    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Invoice Tables
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Invoice Tables</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
          <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
              <a href="/{{get_market_index}}/invoice/add/" class="btn btn-info">Add Invoice</a>
              <br>
              <br>
              <table id="invoice_data_table" class="table table-bordered table-striped" style="table-layout:fixed;">
                <thead>
                <tr>
                  <th>VendorCode</th>
                  <th>InvoiceNo</th>
                  <th>InvoiceDate</th>
                  <th>InvoiceAmount</th>
                  <th>InvoiceStatus</th>
                  <th>EstPayDate</th>
                  <th>AuthorizationCode</th>
                  <th>URL</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{range $i, $elm :=.Invoices}}
                <tr>
                  <td>{{$elm.VendorCode.Name}}</td>
                  <td>{{$elm.NumberInvoice.Name}}</td>
                  <td>{{$elm.DateInvoice.Name}}</td>
                  <td>{{$elm.AmountInvoice.Name}}</td>
                  <td>{{$elm.StatusInvoice.Name}}</td>
                  <td>{{$elm.DatePay.Name}}</td>
                  <td style="word-wrap:break-word;">{{$elm.AuthCode}}</td>
                  <td style="word-wrap:break-word;">{{$elm.URL}}</td>
                  <td>
                    <button type="button" class="btn btn-info fa fa-edit" onclick="javascript:goEditFunction('/{{get_market_index}}/invoice/edit/{{$elm.ID}}')"></button>
                    <button type="button" data-toggle="modal" data-target="#modal-edit" class="btn btn-info fa fa-trash-o" onclick="goDeleteFunction('/{{get_market_index}}/invoice/remove/{{$elm.ID}}')"></button>
                  </td>
                </tr>
                {{end}}
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

        <div class="modal modal-info fade" id="modal-edit">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to delete the Invoice and Supplier?</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline" id="id_delete_submit" data-dismiss="modal">Ok</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </section>