<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="https://use.typekit.net/tnq2hob.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="navigation-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="navigation">
            <div class="logo-container">
              <a href="/"><img class="logo" src="/images/nav-logo.png" alt="Instar logo" /></a>
            </div>
            <div class="navigation-content">
              <div class="text-container">
                <p class="navigation-text">Holland House, Valley Way, Rockingham Road, Market Harborough, Leicestershire LE16 7PS</p>
                <p class="navigation-text">T: +44 (0)1858 456949 | E-mail: <a href="mailto:info@instar-uk.co.uk?Subject=Question" class="mail-link">info@instar-uk.co.uk</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-not-found page-container">
    <img src="/images/404.png" alt="404" />
  </div>

<!--Footer-->
  <div class="navigation-footer">
    <div class="container-fluid">
          <div class="navigation">
            <a href="/"><img class="logo logo-container" src="/images/nav-logo.png" alt="Instar logo" /></a>
            <div class="navigation-content">
              <div class="text-container">
                <p class="navigation-text">Terms & Contribute | Contact Us | News</p>
              </div>
            </div>
      </div>
    </div>
  </div>
<!--/.Footer-->
</body>
</html>
